.footer{
    min-height: 17vh;
    width: 100%;
    background-color: rgb(29, 27, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 40px;
}

.leftfooter{
    color: aliceblue;
    margin-bottom: 5vh;
    margin-right: 25vw;
    margin-left: auto;
}

.firstline{
    color: #fb5607;
    font-size: 42px;
}

.secondline{
    font-size: 22px;
    position: relative;
    left: 34px;
}

.copyright{
    height: 4vh;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.middlefooter{
    margin-bottom: 5vh;
    color: aliceblue;
   
}

.rightfooter{
    margin-bottom: 1vh;
    margin-left: 25vw;
    margin-right: auto;
}

.footlink ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.footlink li{
    color: aliceblue;
    margin-bottom: 10px;
}

.highlight {
    color: #fb5607;
    font-style: italic;
  }

  .footlink ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-left: 20px;
  }